extends layout.pug

block content
  main.articles-category
    h1 #{categories.find((category) => category.id === Number(id)).name}
    section(class='articles-category__theme-list')
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li(class='themes__item')
            a(class=`themes__item-link ${category.id === Number(id) ? 'themes__item-link--active' : ''}` href=`/articles/category/${category.id}`) #{category.name}
              sup #{category.count}
    section(class='articles-category__list preview')
      h2.visually-hidden Список превью статей
      ul(class='preview__list')
        each article in articles
          li(class='preview__item')
            ul(class='preview__breadcrumbs')
              each category in article.categories
                li(class='preview__breadcrumbs-item')
                  a(class='preview__breadcrumbs-link' href='#') #{category.name}
            div(class='preview__background')
              img(class='preview__background-image' src=`/img/${article.picture}` width='460' height='240' alt=article.title)
            time(class='preview__time' datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
            h3(class='preview__name')
              a(class='preview__name-link' href=`/articles/${article.id}`) #{article.title}
            p(class='preview__text') #{article.announce}

            a(class='preview__comment' href='#') Комментарии
              span(class='preview__cloud')
              b(class='preview__comment-count') #{article.comments.length}
  +pagination(page, totalPages, 8, '?')

