extends layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section(class='post__content')
        h2.visually-hidden Основное содержание
        div(class='post__wrapper')
          div(class='post__head')
            a(href='#' class='post__backwards button button--backwards') Назад
            time(class='post__date' datetime=article.createdAt) #{formatShortDate(article.createdAt)}
            h2(class='post__title title title--main') #{article.title}
            ul(class='post__themes themes')
              each category in article.categories
                li(class='themes__item')
                  a(class='themes__item-link' href=`/articles/category/${category.id}`) #{category.name}
                    sup #{category.count}
                  button(class='themes__remove-btn' type='button') Удалить категорию
          if article.picture
            div(class='post__picture')
              img(src=`/img/${article.picture}` alt=article.title)
          div(class='post__text')
            h3 #{article.title}
            p #{article.announce}
            p #{article.fullText}
      div(class='post__wrapper post__wrapper--comments')
        section(class='post__comments comments')
          if comments.length
            h2(class='comments__title title title--middle') Комментарии
          else
            h2(class='comments__title title title--middle') Комментарии отсутствуют
          ul(class='comments__list')
            each comment in comments
              li(class='comments__comment')
                div(class='comments__avatar avatar')
                  img(src=`/img/${comment.user.avatar}` alt=`${comment.user.firstName} ${comment.user.lastName}`)
                div(class='comments__text')
                  div(class='comments__head')
                    p #{comment.user.firstName} #{comment.user.lastName} •
                    time(class='comments__date' datetime=comment.createdAt) #{formatDate(comment.createdAt)}
                  p(class='comments__message') #{comment.text}
          if !user
            .comments__footer.comments__footer--visitor
              a(href="/login").comments__button.button.button--colored Войти
              .comments__registration
                p.text.text--signature
                  b.title.title--small Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться
          else
            div(class='comments__footer comments__footer--user')
              form(action=`/articles/${id}/comments` method='POST' autocomplete='off')
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class='comments__avatar avatar')
                  img(src=`/img/${user.avatar}` alt=`${user.firstName} ${user.lastName}`)
                label
                  textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению' required minlength='20')
                button(type='submit' class='comments__button button button--colored') Опубликовать
